

<div class="row">
	<div class="col-lg-6">
    	<div class="input-group">
      		<input type="text" class="form-control" [(ngModel)]="cont_input">
      		<span class="input-group-btn">
        		<button class="btn btn-default" type="button" (click)="searchFor()" [disabled] ="cont_input.trim().length<1">Search Album</button>
     		 </span>
        
    	</div>
 	</div>
</div>



<div class="search">Results for: {{cont_input}}</div>
<div class="fail">There aren't any results</div>

<div class="container">
 
    <div class="wrapper">

        <div class="row2" *ngFor="let datos of array_datos[0]">
        	<div class="resul col-lg-3 col-md-4 col-sm-6 col-xs-12">

              <a  href="https://open.spotify.com/album/{{datos.id}}" target="a_blank"><img *ngIf="datos.images.length>0" src={{datos.images[0].url}}></a>
              <img *ngIf="datos.images.length==0"  src="../../img/notfound.jpg">
            



            <h5>{{datos.name}}</h5>

          </div>       	
           
        </div>
        
    </div>  

</div>

<ul class="pager">

    <li><a (click)="previous()">&larr; Previous</a></li>
    <li><a (click)="next()">Next &rarr;</a></li>
</ul>

