/* You can add global styles to this file, and also import other style files */
article.cont-wrap{
	/*background-color: #EBEBEB;*/
	border: 1px solid black;
	padding:20px;
	border-radius: 20px;
}
.parallax1{
	background-image: url(./img/fondo3.jpg);
	margin-bottom:10px;
}

.parallax2{
	background-image: url(./img/fondo2.jpg);
	margin-top:10px;
}

.img-art-wrap {
    opacity: 1;
}


.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;

}

h2{
	color:black;
	font-size: 30px;
}

article p {
	padding: 10px;
	text-align: justify;
}

.cont-wrap {
	width: 100%;
	max-width: 1200px;
	margin: 0px auto;
}

.citas{
	font-style: oblique;
	font-family: monospace;

}

h6{
	margin-left: 15px;
}
