<!-- <img class="fondo" src="../../img/fondosong.jpg"> -->

<div class="row">
	<div class="col-lg-6">
    	<div class="input-group">
      		<input type="text" class="form-control" [(ngModel)]='cont_input'>
      		<span class="input-group-btn">
        		<button class="btn btn-default" type="button" (click)='searchFor()' [disabled] ="cont_input.trim().length<1">Search Song</button>
     		 </span>
    	</div>
 	</div>
</div>


<div class="search">Results for: {{cont_input}}</div>
<div class="fail">There aren't any results</div>


<div class="container">        
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Artist</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let datos of array_datos[0]">
        <td class="glyphicon glyphicon-music">{{datos.name}}</td>
        <td>{{datos.artists[0].name}}</td>
        <td><a  href={{datos.preview_url}} target="_blank" class="bn btn btn-default glyphicon glyphicon-headphones "> Play track</a></td>
      </tr>
    </tbody>
  </table>
</div>



<ul class="pager">

    <li><a (click)="previous()">&larr; Previous</a></li>
    <li><a (click)="next()">Next &rarr;</a></li>
</ul>